block swiper
	.swiper.swiper-main
		block swiper-wrapper
			.swiper-wrapper
				block swiper-slide
					.swiper-slide
						h1 1
					.swiper-slide
						h1 2
					.swiper-slide
						h1 3
		block swiper-pagination
			.swiper-pagination
		block swiper-button-prev
			.swiper-button-prev
		block swiper-button-next
			.swiper-button-next
		block swiper-scrollbar
			.swiper-scrollbar


