block swiper
	div(class='swiper' + add.add)
		block swiper-wrapper
			div(class='swiper-wrapper' + add.add + '__wrapper')
				block swiper-slide
					div(class='swiper-slide' + add.add + '__slide')
						h1 1
					div(class='swiper-slide' + add.add + '__slide')
						h1 2
					div(class='swiper-slide' + add.add + '__slide')
						h1 3
		block swiper-pagination
			.swiper-pagination
		block swiper-button-prev
			.swiper-button-prev
		block swiper-button-next
			.swiper-button-next
		block swiper-scrollbar
			.swiper-scrollbar
