extends ../../layout/sliderlayout/sliderMain

//- block swiper-slide
//- 	div(class='swiper-slide' + classesSliders.add + '__slide')
//- 		h1 111
//- 	div(class='swiper-slide' + classesSliders.add + '__slide')
//- 		h1 222
//- 	div(class='swiper-slide' + classesSliders.add + '__slide')
//- 		h1 333