extends layout/pages/index-Layout

block variables 
	include variables/variables
block html
	html(lang="en")
		include partials/head/head
		block body 
			body
				block header 
					include components/bem-blocks/_header
				block main
					include components/page-blocks/_main/_main
				block footer 
					include partials/scripts/scripts
